<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <standardValues>
            <patch:attribute name="defaultProvider">support</patch:attribute>
            <providers>
                <add name="support" set:type="Sitecore.Support.Data.StandardValuesProvider, Sitecore.Support.343322" />
            </providers>
        </standardValues>
    </sitecore>
</configuration>